{% extends "salem/base_docs.html" %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="description" content="The Village Rules: Docs">
{% endblock %}

{% block title %}{% translate "Docs" %}{% endblock %}

{% block page %}{% translate "Docs" %}{% endblock %}

{% block container %}

<div class="container">

    <!-- DOCS this will be for loop with info of main script -->
    {% if object %}
        <p>{{ object.name }}</p>
        <p>{{ object.descr }}</p>

    {% else %}
        <div class="row">
            <h2>This shouldn't appear. What IS main_script?</h2>
        </div>

    {% endif %}
    <!-- FACTIONS this will be for loop with info of main script -->
</div>

{% endblock %}
