{% extends "salem/base.html" %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="description" content="Mafia-inspired game web setupper.
    Type in players, roles that'll play and the system will sort the roles.
    View documentation and rules.">
{% endblock %}

{% block title %}{% translate "Nuevo Juego" %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'salem/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'salem/css/flickity.css' %}">
{% endblock %}

{% block page %}{% translate "Nuevo Juego" %}{% endblock %}

{% block content %}

<h1>SALEM</h1>

{% endblock %}



{% block scripts %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script type="text/javascript" src="{% static 'salem/js/index.js' %}"></script>
{% endblock %}
