{% extends "salem/base.html" %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="description" content="Mafia-inspired game web setupper.
    Type in players, roles that'll play and the system will sort the roles.
    View documentation and rules.">
{% endblock %}

{% block title %}{% translate "Index" %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'salem/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'salem/css/flickity.css' %}">
{% endblock %}

{% block page %}{% translate "Setup" %}{% endblock %}

{% block content %}
<div class="container">
    <p>Aqui deberías agregar los nombres de las personas.</p>
    <p>Luego el sistema agrega a db y de ahi extrae numero de peerosnas </p>
    <p>Corre script para determinar proporcion de jugadores</p>
    <p>Dar la opcion de modificar a preferencia</p>
    <p>Asignar roles</p>
    <p>Dar la opcion de modificar a preferencia</p>
    <p>Guardar todo en db</p>
    <p>continuar a oveerseeer initial setup</p>
</div>
{% endblock %}



{% block scripts %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script type="text/javascript" src="{% static 'salem/js/index.js' %}"></script>
{% endblock %}
