{% extends "base_templates/village_base_docs.html" %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="description" content="The Village Rules: Docs">
{% endblock %}

{% block title %}{% translate "Facciones" %}{% endblock %}

{% block page %}{% translate "Facciones" %}{% endblock %}

{% block container %}

    <div class="row">
        <p class="h6">
            Básicamente son la mayoría organizada (Gente/Aldeanos/Humanos) vs
            una minoría organizada (Mafia/Lobos/Brujas).
        </p>
        <p class="h6">
            Originalmente no hay habilidades; solamente la todos pueden votar
            por linchar a alguien y cada noche la Mafia mata a alguien.
        </p>
    </div>

{% endblock %}
