{% extends "base_templates/village_base_docs.html" %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="description" content="The Village Rules: Docs">
{% endblock %}

{% block title %}{% translate "Roles" %}{% endblock %}

{% block page %}{% translate "Roles" %}{% endblock %}

{% block container %}

    <div class="row">
        <p class="h6">
            Algunos Roles "clásicos entre la mayoría es la de poder enterarse
            del Rol de una persona cada noche."
        </p>
        <p class="h6">
            No hay muchas habilidades, mas que la gente vota por linchar a alguien
            y la Mafia mata a alguien cada noche.
        </p>
    </div>

{% endblock %}
