{% extends "base_templates/salem_base.html" %}
{% load static %}
{% load i18n %}

{% translate "La Aldea" as game_name %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'village/css/docs.css' %}">
{% endblock %}

{% block page %}{% translate "Docs" %}{% endblock %}

{% block content %}

    <div class="sidebar wrapper align-top">
        <ul class="list-unstyled" style="height: calc(100vh - 135px);">

          <li>
              <hr class="m-0">
              <a class="mx-auto lead fs-5 text-center" href="{% url 'salem:docs' 'factions' %}">{% translate "Básicos" %}</a>
              <hr class="m-0 mx-2">

              <ul class="list-unstyled small ps-2">

                  <li><a class="fs-5" href="{% url 'salem:docs' 'village' %}">La Aldea</a></li>
                    {% if main_script == 'rules' %}
                    <li><a class="ps-4 active" href="{% url 'salem:docs' 'rules' %}">Reglas</a></li>
                    {% else %}
                    <li><a class="ps-4" href="{% url 'salem:docs' 'rules' %}">Reglas</a></li>
                    {% endif %}
                    <li><a class="ps-4" href="{% url 'salem:docs' 'village' %}">Día y Noche</a></li>
                    <li><a class="ps-4" href="{% url 'salem:docs' 'village' %}">Grupos</a></li>

              </ul>

          </li>


          {% if factions %}
            <li class="pb-4">
                <hr class="mt-3 mb-0 mx-2">
                <a class="mx-auto lead fs-5 text-center" href="{% url 'salem:docs' 'factions' %}">{% translate "Facciones + Roles" %}</a>
                <hr class="m-0 mx-2">

                <ul class="list-unstyled small ps-2">

                    <!-- FOR LOOP HERE -->
                    {% for faction in factions %}
                        {% if main_script == 'factions' and faction.id == object.id %}
                        <li><a class="active fs-5" href="{% url 'salem:detail' object_model='factions' object_pk=faction.id %}">{{ faction.name }}</a></li>
                        {% else %}
                        <li><a class="fs-5" href="{% url 'salem:detail' object_model='factions' object_pk=faction.id %}">{{ faction.name }}</a></li>
                        {% endif %}

                        {% for key, roles in dict_roles.items %}
                            {% if faction.id == key %}
                                {% for role in roles %}

                                    {% if main_script == 'roles' and role.id == object.id %}
                                    <li><a class="ps-4 active" href="{% url 'salem:detail' object_model='roles' object_pk=role.id %}">{{ role.name }}</a></li>
                                    {% else %}
                                    <li><a class="ps-4" href="{% url 'salem:detail' object_model='roles' object_pk=role.id %}">{{ role.name }}</a></li>
                                    {% endif %}

                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                </ul>
            </li>

            {% else %}
              <li>
                  <p>NO FACTIONS FOUND.</p>
              </li>
            {% endif %}

        </ul>
    </div>

    <div class="content wrapper px-3 pb-4 align-top">
        {% block container %}

            <h1>This is written in the base_docs.html</h1>

        {% endblock %}
    </div>



{% endblock %}

{% block footer %} {% endblock %}
