{% extends "base_templates/village_base.html" %}
{% load static %}
{% load i18n %}

{% translate "La Aldea" as game_name %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'village/css/docs.css' %}">
{% endblock %}

<!-- {% block page %} {% endblock %} -->

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 col-md-2 sidebar">
                <ul class="list-unstyled">

                    <li>

                        <a class="ps-3" href="#">{% translate "Facciones" %}</a>
                        <ul class="list-unstyled small">

                            <li><a class="ps-5" href="#">{% translate "Facción" %}</a></li>

                        </ul>

                        <a class="ps-3" href="#">{% translate "Roles" %}</a>
                        <ul class="list-unstyled small">

                            <li><a class="ps-5" href="#">{% translate "Rol" %}</a></li>

                        </ul>

                    </li>

                </ul>
            </div>

            <div class="col-12 col-md-10 content">
                {% block container %}

                    <h1>This is written in the base_docs.html</h1>

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {% endblock %}
