<!-- STEP 3 in village creation:
Names Village, assigns it to current user & assigns everyone to it.-->

{% extends "base_templates/salem_base.html" %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="description" content="Mafia-inspired game web setupper.
    Type in players, roles that'll play and the system will sort the roles.">
{% endblock %}

{% block title %}{% translate "Nueva Aldea: Paso 3" %}{% endblock %}

{% block styles %} {% endblock %}

{% block page %}{% translate "Nueva Aldea: Paso 3" %}{% endblock %}

{% block content %}
<div class="container mb-5">
    <h1 class="display-6">{% translate "Dale un nombre a tu Aldea" %}:</h1>
    <form class="row gy-2 gx-3 justify-content-center align-items-center" method='POST' action="{% url 'salem:overview' %}">
    {% csrf_token %}
        <div class="col-auto">
            <div class="form-floating">
                <input type="text" class="form-control form-control-lg" id="inputVillage" name="newVillage" placeholder="Aldea">
                <label for="inputVillage">{% translate "Nombre Aldea" %}</label>
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">{% translate "Agregar" %}</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %} {% endblock %}
