{% extends "base_templates/salem_base.html" %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="description" content="Mafia-inspired game web setupper.
    Type in players, roles that'll play and the system will sort the roles.
    View documentation and rules.">
{% endblock %}

{% block title %}{% translate "Nueva Aldea" %}{% endblock %}

{% block styles %} {% endblock %}

{% block page %}{% translate "Nueva Aldea" %}{% endblock %}

{% block content %}
<div class="container">
    <p>Aqui deberías agregar los nombres de las personas.</p>
    <p>Luego el sistema agrega a db y de ahi extrae numero de peerosnas </p>
    <p>Corre script para determinar proporcion de jugadores</p>
    <p>Dar la opcion de modificar a preferencia</p>
    <p>Asignar roles</p>
    <p>Dar la opcion de modificar a preferencia</p>
    <p>Guardar todo en db</p>
    <p>continuar a oveerseeer initial setup</p>
</div>
{% endblock %}

{% block scripts %} {% endblock %}
