{% extends "setupper/base.html" %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="description" content="Mafia-inspired game web setupper.
    Type in players, roles that'll play and the system will sort the roles.
    View documentation and rules.">
{% endblock %}

{% block title %}{% translate "Setup" %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'setupper/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'setupper/css/flickity.css' %}">
{% endblock %}

{% block page %}{% translate "Nuevo Juego" %}{% endblock %}

{% block content %}

<!-- Theme Selector -->
<div class="container px-5 mb-5">
    <div class="row">
        <div class="col-8">
            <h1 class="display-6">{% translate "Elije tu temática" %}</h1>
            <h5>
              {% translate "¡La mecánica del juego cambia dependiendo de la temática!" %}
              <span class="lead">{% translate "Selecciona una opción para saber más." %}</span>
            </h5>
        </div>
        <div class="col-4">
            <h1 class="display-6">O lee sobre el juego original.</h1>
        </div>

    </div>

    <div class="row align-items-center gy-4">

      <div class="col-12 col-lg-8">
          <div class="main-carousel">
              <div class="carousel-cell">
                  <img src="{% static 'setupper/media/salem.jpg'%}" class="w-100" alt="Salem Theme">
                  <button id="themeBtn1" type="button" class="btn btn-dark btn-lg start-50 translate-middle-x" data-bs-toggle="button" onclick="themeSelector('Salem', 1)">
                      {% translate "Elije Salem" %}
                  </button>
              </div>
              <div class="carousel-cell">
                  <img src="{% static 'setupper/media/tokyo.jpg'%}" class="w-100" alt="Tokyo 3042 Theme">
                  <button id="themeBtn2" type="button" class="btn btn-dark btn-lg start-50 translate-middle-x" data-bs-toggle="button" onclick="themeSelector('Tokyo 3042', 2)">
                      {% translate "Elije Tokyo 3042" %}
                  </button>
              </div>
              <div class="carousel-cell">
                  <img src="{% static 'setupper/media/nineties.jpg'%}" class="w-100" id="brad" alt="Nineties Theme">
                  <button id="themeBtn3" type="button" class="btn btn-dark btn-lg start-50 translate-middle-x" data-bs-toggle="button" onclick="themeSelector('90s', 3)">
                      {% translate "Elije 90s" %}
                  </button>
              </div>
          </div>
      </div>

      <div class="col-12 col-lg-4">
          <div class="d-grid gap-2">
              <a href="{% url 'setupper:rules' %}" class="btn btn-primary" role="button">{% translate "Lee las reglas" %}</a>
              <a href="{% url 'salem:index' %}" class="btn btn-primary disabled" id="beginBtn" tabindex="-1" role="button" aria-disabled="true">{% translate "Select Theme to Begin Setup" %}</a>
          </div>
      </div>

    </div>
</div>
<!-- End Theme Selector -->
{% endblock %}



{% block scripts %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script type="text/javascript" src="{% static 'setupper/js/index.js' %}"></script>
{% endblock %}
