{% extends "setupper/base_docs.html" %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="description" content="The Village Rules: Docs">
{% endblock %}

{% block title %}{% translate "Docs" %}{% endblock %}

{% block page %}{% translate "Docs" %}{% endblock %}

{% block container %}

<div class="container">

  <div class="row">
      <p class="h6">
          Una simple explicación general del juego original "Mafia" un link que
          lleve al wikipedia. El juego se puedee jugar en cuentión de menos de
          una hora presencialmente.
      </p>
      <p class="h6">
          Lo que se propone aquí es una versión donde se puede jugar de forma
          pasiva, por una applicación de mensajería (WhatsApp) para que
          todos estén en su día a día normal, pero estén jugando.
      </p>
      <p class="h6">
          Esto hace que la duración del jueego se extienda a días o
          más de una semana dependiendo de la cantidad de gente.
      </p>
  </div>

</div>

{% endblock %}
